*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url("../../fonts/TTLakes-Medium.ttf");
}

@font-face {
  font-family: 'TTLakes-Black';
  src: url("../../fonts/TTLakes-Black.ttf");
}

@font-face {
  font-family: 'TTLakes-Bold';
  src: url("../../fonts/TTLakes-Bold.ttf");
}

.body {
  min-height: 100vh;
  background-color: #f8f8f8;
  font-family: 'TTLakes-Medium';
  letter-spacing: -0.2px;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  background-color: #fff;
  width: 320px;
  min-height: 100vh;
  padding: 19px 24px 32px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
}

.sidebar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-close {
  margin-right: 16px;
}

.icon-search-sidebar {
  margin-left: auto;
}

.icon-close {
  background: url("../../assets/icons/icon-close.svg") no-repeat no-repeat center center #ff3e79;
}

.icon-search-sidebar {
  background: url("../../assets/icons/icon-search-sidebar.svg") no-repeat no-repeat center center #ff3e79;
}

.menu {
  list-style: none;
  margin-top: 46px;
}

.menu__link {
  text-decoration: none;
  color: #1b1c21;
  font-size: 16px;
  font-family: 'TTLakes-Medium';
  display: inline-block;
  padding: 6px 0;
  margin-bottom: 20px;
}

.menu__link:hover,
.menu__link--active {
  color: #7e7e82;
}

.menu__link--active::before {
  content: '';
  background-color: #41f6d7;
  width: 5px;
  height: 32px;
  position: absolute;
  left: 0;
  margin-top: -5px;
}

.button {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  background-position: center center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  margin-right: 16px;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #f1004a;
}

.icon-phone {
  background: url("../../assets/icons/icon-phone.svg") no-repeat no-repeat center center #ff3e79;
}

.icon-message {
  background: url("../../assets/icons/icon-message.svg") no-repeat no-repeat center center #ff3e79;
}

.icon-profile {
  background: url("../../assets/icons/icon-profile.svg") no-repeat no-repeat center center #ff3e79;
}

.sidebar__footer {
  margin-top: auto;
}

.logo:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.logo:not(:hover) {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sidebar__footer .contacts__buttons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__footer .contacts__mail-link, .sidebar__footer .contacts__phone-link {
  display: block;
  font-family: 'TTLakes-Medium';
  font-size: 16px;
  text-decoration: none;
  color: #1b1c21;
}

.sidebar__footer .contacts__mail-link:hover, .sidebar__footer .contacts__phone-link:hover {
  cursor: pointer;
  color: #7e7e82;
}

.sidebar__footer .contacts__mail-link {
  margin-top: 16px;
}

.sidebar__footer .contacts__phone-link {
  font-size: 24px;
  margin-top: 12px;
  font-family: 'TTLakes-Bold';
  letter-spacing: -0.6px;
}

.sidebar__footer .languages {
  margin-top: 40px;
}

.sidebar__footer .languages__button {
  border: none;
  margin-right: 4px;
  font-size: 16px;
  cursor: pointer;
  background: none;
}

.sidebar__footer .languages__button--active, .sidebar__footer .languages__button:hover {
  color: #7e7e82;
}

.content {
  margin: 0 auto;
}

.header {
  background: #fff;
  padding: 19px 0;
}

.header > .container {
  background-color: #fff;
}

.container {
  padding: 0 16px;
  background-color: #f8f8f8;
}

.header__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  border: none;
  background-position: center center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.button:not(:last-child) {
  margin-right: 16px;
}

.button :hover,
.services__button:hover .button {
  background-color: #f1004a;
  cursor: pointer;
}

.button:hover {
  background-color: #f1004a;
}

.icon-phone {
  background: url("../../assets/icons/icon-phone.svg") no-repeat no-repeat center center;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-burger {
  background: url("../../assets/icons/icon-burger.svg") no-repeat no-repeat center center #ff3e79;
}

.icon-message {
  background: url("../../assets/icons/icon-message.svg") no-repeat no-repeat center center #ff3e79;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-profile {
  background: url("../../assets/icons/icon-profile.svg") no-repeat no-repeat center center #ff3e79;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-settings {
  background: url("../../assets/icons/icon-settings.svg") no-repeat no-repeat center center #ff3e79;
}

.icon-search {
  background: url("../../assets/icons/icon-search.svg") no-repeat no-repeat center center #ff3e79;
}

.about__img {
  margin-left: -16px;
  width: 100vw;
}

.services__navigation {
  display: none;
}

.navigation__link {
  color: #7e7e82;
  text-decoration: none;
}

.navigation__link:hover {
  color: #262627;
}

.link {
  text-decoration: none;
  font-size: 16px;
  color: #1b1c21;
  font-weight: 600;
}

.read-more {
  display: inline-block;
  margin: 16px 0;
}

.read-more__button {
  border: none;
  background: transparent;
}

.read-more__button:hover {
  cursor: pointer;
}

.read-more__button::before {
  content: '';
  display: inline-block;
  vertical-align: text-bottom;
  height: 100%;
  background: url("../../assets/icons/icon-read-more.svg") no-repeat no-repeat center center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 24px;
  height: 24px;
  margin-right: 8px;
  position: relative;
  top: 4px;
}

.logo:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.logo:not(:hover) {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.divider-logo-after {
  width: 2px;
  height: 32px;
  vertical-align: super;
  background-color: #eaeaea;
  margin-left: 16px;
}

.title {
  font-family: 'TTLakes-Bold';
  font-size: 28px;
  color: #1b1c21;
  padding: 0 16px;
  padding-left: 0;
  padding-top: 24px;
}

.title::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #41f6d7;
  width: 8px;
  border-radius: 4px;
  height: 36px;
  left: 0;
  -webkit-transform: translate(-4px);
          transform: translate(-4px);
}

.text {
  display: block;
  font-size: 14px;
}

.text:nth-child(even) {
  display: none;
}

.navigation__list {
  list-style: none;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0;
  position: relative;
}

.navigation__item {
  color: #7e7e82;
  border: 2px solid transparent;
  font-size: 16px;
  display: inline-block;
  padding: 8px 16px;
  white-space: nowrap;
}

.navigation__item--active {
  margin-right: 0;
  color: #58585b;
  background-color: #fff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.navigation__item:hover {
  cursor: pointer;
  color: #58585b;
}

.navigation__list::-webkit-scrollbar {
  width: 0;
}

.navigation__list::after {
  display: block;
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#f8f8f8));
  background: linear-gradient(90deg, transparent, #f8f8f8);
  width: 80px;
  height: 40px;
  position: fixed;
  right: 15px;
}

@media (min-width: 768px) {
  .button {
    background-color: #ff3e79;
  }
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .icon-phone,
  .icon-message,
  .icon-profile {
    display: inline-block;
    position: initial;
  }
  .icon-settings {
    margin-left: 24px;
    display: inline-block;
  }
  .divider-icon-settings-before {
    display: inline-block;
    vertical-align: super;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    margin-left: 10px;
    margin-top: 4px;
  }
  .container {
    padding: 0 24px;
  }
  .services__description {
    max-width: 100%;
  }
  .divider-logo-before {
    display: inline-block;
    vertical-align: super;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    margin-left: 4px;
    margin-right: 20px;
  }
  .divider-logo-after {
    display: none;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .about__img {
    margin-left: 0;
    height: 208px;
    border-radius: 6px;
  }
  .services__description {
    min-width: 312px;
    margin-right: 48px;
  }
  .text:nth-child(even) {
    display: block;
    margin-top: 24px;
    display: block;
  }
  .about__description {
    margin-right: 48px;
  }
}

@media (min-width: 1120px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
  }
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header {
    display: none;
  }
  .icon-settings::before {
    display: none;
  }
  .icon-settings {
    margin-left: 0;
  }
  .services__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 24px;
  }
  .services__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .services__button {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 32px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-family: 'TTLakes-Medium';
  }
  .button-label {
    margin-right: 9px;
  }
  .navigation__list {
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navigation__list::after {
    display: none;
  }
  .about__img {
    height: 384px;
  }
  .services__description {
    max-width: 490px;
  }
  .services__title {
    margin-top: 0;
  }
  .about__description {
    margin-right: 36px;
  }
}

@media (max-width: 1420px) {
  .sidebar {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */