*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url('../../fonts/TTLakes-Medium.ttf');
}

@font-face {
  font-family: 'TTLakes-Black';
  src: url('../../fonts/TTLakes-Black.ttf');
}

@font-face {
  font-family: 'TTLakes-Bold';
  src: url('../../fonts/TTLakes-Bold.ttf');
}

.body {
  min-height: 100vh;
  background-color: #f8f8f8;
  font-family: 'TTLakes-Medium';
  letter-spacing: -0.2px;
}

.page {
  position: relative;
}

.content {
  // width: 100%;
  // float: right;
  flex-basis: 100%;
  position: relative;
}

.sidebar {
  position: sticky;
  background-color: #fff;
  width: 320px;
  height: 100vh;
  padding: 19px 24px 32px;

  display: none;
  flex-direction: column;
  top: 0;
}

.sidebar__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-close {
  margin-right: 16px;
}

.icon-search-sidebar {
  margin-left: auto;
  margin-right: 0 !important;
}

.icon-close {
  background: url('../../assets/icons/icon-close.svg') no-repeat no-repeat center center #ff3e79;
}

.icon-search-sidebar {
  background: url('../../assets/icons/icon-search-sidebar.svg') no-repeat no-repeat center center
    #ff3e79;
}

.menu {
  list-style: none;
  margin-top: 46px;
}

.menu__link {
  text-decoration: none;
  color: #1b1c21;
  font-size: 16px;
  font-family: 'TTLakes-Medium';
  display: inline-block;
  padding: 6px 0;
  margin-bottom: 20px;
}

.menu__link:hover,
.menu__link--active {
  color: #7e7e82;
}

.menu__link--active::before {
  content: '';
  background-color: #41f6d7;
  width: 5px;
  height: 32px;
  position: absolute;
  left: 0;
  margin-top: -5px;
}

.button {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  background-position: center center;
  transition: 0.2s ease;
  margin-right: 16px;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: darken(#ff3e79, 15%);
}

.icon-phone {
  background: url('../../assets/icons/icon-phone.svg') no-repeat no-repeat center center #ff3e79;
}

.icon-message {
  background: url('../../assets/icons/icon-message.svg') no-repeat no-repeat center center #ff3e79;
}

.icon-profile {
  background: url('../../assets/icons/icon-profile.svg') no-repeat no-repeat center center #ff3e79;
}

.sidebar {
  &__footer {
    margin-top: auto;
  }
}

.logo:hover {
  transition: all 0.3s;
  transform: scale(110%);
}

.logo:not(:hover) {
  transition: all 0.3s;
}

.sidebar__footer {
  .contacts {
    &__buttons-row {
      // ткк при .button inline-block появлется пробел, который нужно комментировать в html - не оч красиво https://ru.stackoverflow.com/questions/609992/%D0%9E%D1%82%D1%81%D1%82%D1%83%D0%BF%D1%8B-%D0%BC%D0%B5%D0%B6%D0%B4%D1%83-%D0%B8%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD%D0%BE%D0%B2%D1%8B%D0%BC%D0%B8-%D1%8D%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D0%B0%D0%BC%D0%B8
      display: flex;
    }

    &__mail-link,
    &__phone-link {
      // не уверен, что корректно задавать для <a> display: block. Мне кажется, что лучше бы было бы выбрать блочную текст-обертку и оборачивать её в <a>, но, как мне показалось, <p> <h1-h6> не очень подходят в плане семантики
      display: block;
      font-family: 'TTLakes-Medium';
      font-size: 16px;
      text-decoration: none;
      color: #1b1c21;
    }

    &__mail-link:hover,
    &__phone-link:hover {
      cursor: pointer;
      color: #7e7e82;
    }

    &__mail-link {
      margin-top: 16px;
    }

    &__phone-link {
      font-size: 24px;
      margin-top: 12px;
      font-family: 'TTLakes-Bold';
      letter-spacing: -0.6px;
    }
  }

  .languages {
    margin-top: 40px;
    &__button {
      border: none;
      margin-right: 4px;
      font-size: 16px;
      cursor: pointer;
      background: none;
    }

    &__button--active,
    &__button:hover {
      color: #7e7e82;
    }
  }
}

// 1.3

.content {
  margin: 0 auto;
}

.header {
  background: #fff;
  padding: 19px 0;
}

.header > .container {
  background-color: #fff;
}

.container {
  padding: 0 16px;
  background-color: #f8f8f8;
}

.header__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-group {
  display: flex;
  justify-content: space-between;
  background: #fff;
  align-items: center;
}

.button {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  border: none;
  background-position: center center;
  transition: 0.2s ease;
  cursor: pointer;
}

.button:not(:last-child) {
  margin-right: 16px;
}

.button :hover,
.services__button:hover .button {
  background-color: darken(#ff3e79, 15%);
  cursor: pointer;
}

.button:hover {
  background-color: darken(#ff3e79, 15%);
}

.icon-phone {
  background: url('../../assets/icons/icon-phone.svg') no-repeat no-repeat center center;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-burger {
  background: url('../../assets/icons/icon-burger.svg') no-repeat no-repeat center center #ff3e79;
}

.icon-message {
  background: url('../../assets/icons/icon-message.svg') no-repeat no-repeat center center #ff3e79;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.icon-profile {
  background: url('../../assets/icons/icon-profile.svg') no-repeat no-repeat center center #ff3e79;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.icon-settings {
  background: url('../../assets/icons/icon-settings.svg') no-repeat no-repeat center center #ff3e79;
}

.icon-search {
  background: url('../../assets/icons/icon-search.svg') no-repeat no-repeat center center #ff3e79;
  margin-right: 0 !important;
}

.about {
  &__img {
    margin-left: -16px;
    width: 100vw;
  }
}

.services__navigation {
  display: none;
}

.navigation__link {
  color: #7e7e82;
  text-decoration: none;
}

.navigation__link:hover {
  color: darken($color: #7e7e82, $amount: 35%);
}

.link {
  text-decoration: none;
  font-size: 16px;
  color: #1b1c21;
  font-weight: 600;
}

.read-more {
  display: inline-block;
  margin: 16px 0;

  &__button {
    border: none;
    background: transparent;
  }

  &__button:hover {
    cursor: pointer;
  }

  &__button::before {
    content: '';
    display: inline-block;
    vertical-align: text-bottom;
    height: 100%;
    background: url('../../assets/icons/icon-read-more.svg') no-repeat no-repeat center center;
    transform: rotate(180deg);
    width: 24px;
    height: 24px;
    margin-right: 8px;
    position: relative;
    top: 4px;
  }
}

.logo:hover {
  transition: all 0.3s;
  transform: scale(110%);
}

.logo:not(:hover) {
  transition: all 0.3s;
}

.divider-logo-after {
  width: 2px;
  height: 32px;
  vertical-align: super;
  background-color: #eaeaea;
  margin-left: 16px;
}

.title {
  font-family: 'TTLakes-Bold';
  font-size: 28px;
  color: #1b1c21;
  padding: 0 16px;
  padding-left: 0;
  padding-top: 24px;
}

.title::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #41f6d7;
  width: 8px;
  border-radius: 4px;
  height: 36px;
  left: 0;
  transform: translate(-4px);
}

.text {
  display: block;
  font-size: 14px;
}

.text:nth-child(even) {
  display: none;
}

.navigation__list {
  list-style: none;
  overflow-x: scroll;
  display: flex;
  margin: 24px 0;
  position: relative;
}

.navigation {
  &__item {
    color: #7e7e82;
    border: 2px solid transparent;
    font-size: 16px;
    display: inline-block;
    padding: 8px 12px;
    white-space: nowrap;
  }

  &__item--active {
    margin-right: 0;
    color: darken(#7e7e82, 15%);
    background-color: #fff;
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }

  &__item:hover {
    cursor: pointer;
    color: darken(#7e7e82, 15%);
  }
}

.navigation__list::-webkit-scrollbar {
  width: 0;
}

.navigation {
  position: relative;
}

.navigation::after {
  display: block;
  content: '';
  background: linear-gradient(90deg, transparent, #f8f8f8);
  width: 80px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0;
}

@media (min-width: 768px) {
  .button {
    background-color: #ff3e79;
  }

  .sidebar {
    display: flex;
  }

  .icon-phone,
  .icon-message,
  .icon-profile {
    display: inline-block;
    position: initial;
  }

  .icon-settings {
    margin-left: 24px;
    display: inline-block;
  }

  .divider-icon-settings-before {
    display: inline-block;
    vertical-align: super;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    margin-left: 10px;
    margin-top: 4px;
  }

  .container {
    padding: 0 24px;
  }

  .services {
    &__description {
      max-width: 100%;
    }
  }

  .divider-logo-before {
    display: inline-block;
    vertical-align: super;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    margin-left: 4px;
    margin-right: 20px;
  }

  .divider-logo-after {
    display: none;
  }

  .about {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    &__img {
      margin-left: 0;
      height: 208px;
      border-radius: 6px;
    }
  }

  .services {
    &__description {
      min-width: 312px;
      margin-right: 48px;
    }
  }

  .text:nth-child(even) {
    display: block;
    margin-top: 24px;
    display: block;
  }

  .about__description {
    margin-right: 48px;
  }
}

@media (min-width: 1120px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
  }

  .page {
    display: flex;
  }

  .header {
    display: none;
  }

  .icon-settings::before {
    display: none;
  }

  .icon-settings {
    margin-left: 0;
  }

  .services__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 24px;
  }

  .services__navigation {
    display: flex;
  }

  .navigation::after {
    display: none;
  }

  .services__button {
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 32px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-family: 'TTLakes-Medium';
  }

  .button-label {
    margin-right: 9px;
  }

  .navigation__list {
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  .navigation__list::after {
    display: none;
  }

  .about {
    &__img {
      height: 384px;
    }
  }

  .services {
    &__description {
      max-width: 490px;
    }

    &__title {
      margin-top: 0;
    }
  }

  .about__description {
    margin-right: 36px;
  }
}

@media (max-width: 1420px) {
  .sidebar {
    display: none;
  }
}

// 1.5.

.container-mobile-padding-right-none {
  padding-right: 0;
}

.section-title {
  text-transform: uppercase;
  font-family: 'TTLakes-Medium';
  padding: 16px 0;
  font-size: 16px;
  color: #7e7e82;
}

.equipments {
  display: flex;
  margin-top: 24px;
  // gap: 32px;
  justify-content: space-between;

  &__item {
    width: 240px;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 6px;
  min-height: 160px;
  padding: 16px;
  min-width: 240px;
  margin-right: 16px;

  &__name {
    font-size: 16px;
    font-weight: 600;
  }
}

.second-swiper {
  height: 190px !important;
}

.container-bgc-gradient {
  background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
  margin-top: 32px;
}

.brands {
  display: none;
  overflow-x: auto;
  margin-top: 16px;

  &__card-item {
    min-width: 240px;
    margin-right: 16px;
    padding: 20px 16px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.next-page-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #ff3e79;
  align-self: flex-end;
  position: relative;
  cursor: pointer;
}

.next-page-button:hover {
  transition: all 200ms;
  box-shadow: #cecece 0px 0px 5px;
}

.next-page-button::before,
.next-page-button::after {
  content: '';
  display: block;
  height: 8px;
  width: 2px;
  background-color: #ff3e79;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
}

.next-page-button::before {
  transform: translate(-50%, calc(-50% + -2.5px)) rotate(-45deg);
}

.next-page-button::after {
  transform: translate(-50%, calc(-50% + 2px)) rotate(45deg);
}

.mySwiper {
  position: relative;
  overflow-x: hidden !important;
  overflow-y: visible !important;
  height: 110px;
  margin-top: 16px;
}

.slider-wrapper::before {
  content: '';
  // background: linear-gradient(-90deg, #f8f8f8, transparent);
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  width: 24px;
  height: 20px;
  position: absolute;
  right: 0;
  height: 100px;
  z-index: 999;
}

.brands__card-item {
  height: 80px !important;
  // min-width: 240px !important;
  // margin-right: 16px !important;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  border-radius: 50%;
  margin-right: 12px;
  height: 12px;
  width: 12px;
  background-color: #dddddd !important;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc !important;
}

.swiper-wrapper {
  display: flex;
}

.collapse-button {
  display: none;
}

.equipments {
  display: none;
}

@media (min-width: 768px) {
  .brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2%;

    &__card-item {
      width: 32%;
      margin-right: 0px;
      margin-bottom: 16px;
    }
  }

  .equipments {
    gap: 2%;
    display: flex;
    margin-bottom: 24px;
    &__item {
      width: 32%;
      min-width: 240px;
    }
  }

  .collapse-button {
    display: block;
    margin-top: 8px;
    position: relative;
    padding-left: 33px;
    font-family: 'TTLakes-Medium';
    font-size: 16px;
  }

  .collapse-button::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: url('../../assets/icons/icon-read-more.svg') no-repeat;
  }

  .collapse-button:hover {
    cursor: pointer;
  }

  .collapse-button.content-is-collapsed::before {
    top: 7px;
    transform: rotate(180deg);
  }

  .mobile-only {
    display: none;
  }
}

@media (min-width: 1120px) {
  .container {
    max-width: 1054px;
  }

  .brands {
    // 1 способ подсказал парень из чата, что 3 гэпа по 2% => 94 / 4 = 23.5% не очень удобно считать каждый раз. Гридом похоже проще. С ними не работал, но походу надо изучить
    justify-content: flex-start;
    gap: 2%;

    // 2 способ (тоже подсказал парень из чата)
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // column-gap: 16px;
    // row-gap: 16px;

    &__card-item {
      // 1 способ
      width: 23.5%;
      //  2 способ
      // width: 100%;
      // margin-bottom: 16px;
    }
  }
}

// table

.table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.table tbody {
  background-color: #fff;
  border-radius: 6px;
}

.table th {
  font-family: 'TTLakes-Medium';
  font-weight: normal;
  color: #7e7e82;
  text-align: left;
}

.table td,
.table th {
  padding: 24px;
  border: none;
}

.table td {
  border-bottom: 1px solid #eaeaea;
}

.order-button {
  background-color: #ff3e79;
  border: none;
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 16px;
  width: 100%;
  height: 34px;
  font-family: 'TTLakes-Medium';
  font-weight: bold;
  text-align: left;
  position: relative;
}

.order-button:hover {
  transition: 0.5s;
  background-color: darken($color: #ff3e79, $amount: 15%);
}

.order-button::before,
.order-button::after {
  content: '';
  display: block;
  width: 10px;
  height: 3px;
  position: absolute;
  right: 12px;
  border-radius: 5px;
  background-color: #fff;
}

.order-button::before {
  transform: rotate(45deg);
  top: 13px;
}

.order-button::after {
  transform: rotate(-45deg);
  bottom: 13px;
}

.prices__text {
  max-width: 420px;
  margin-top: 32px;
}

.prices__link {
  font-size: 16px;
  color: #1b1c21;
  text-decoration: none;
  font-weight: 600;
  margin-top: 16px;
  display: inline;
}

.link-wrapper {
  position: relative;
  margin-top: 16px;
}

.prices__link::before,
.prices__link::after {
  content: '';
  display: block;
  width: 10px;
  height: 3px;
  position: absolute;
  left: 302px;
  border-radius: 5px;
  background-color: #ff3e79;
}

.prices__link::before {
  transform: rotate(45deg);
  top: 7px;
}
.prices__link::after {
  transform: rotate(-45deg);
  bottom: 7px;
}

.prices-cards {
  display: flex;
}

.prices-card {
  background-color: #fff;
  font-size: 14px;
  // height: 160px;
  border-radius: 6px;
  padding: 16px;
  min-height: 19 0px;
  margin-right: 16px;
  min-width: 260px;
  &__title {
    color: #7e7e82;
    margin-bottom: 4px;
    margin-top: 16px;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    max-width: 120px;
    align-self: flex-end;
  }
}

.third-swiper {
  height: 280px;
}

.third-swiper-wrapper {
  height: 240px;
}

.swiper-prices {
  display: flex;
  height: 190px;
}

// footer

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 25px;
}

.footer {
  &__text {
    font-size: 14px;
    color: #7e7e82;
  }

  &__text:first-child {
    flex-basis: 213px;
  }

  &__text:last-child {
    text-align: right;
    flex-basis: 213px;
  }

  &__link {
    color: #7e7e82;
    text-decoration: none;
  }

  &__link:hover {
    color: darken($color: #7e7e82, $amount: 15%);
  }
}
