.table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.table tbody {
  background-color: #fff;
  border-radius: 6px;
}

.table th {
  font-family: 'TTLakes-Medium';
  font-weight: normal;
  color: #7e7e82;
  text-align: left;
}

.table td,
.table th {
  padding: 24px;
  border: none;
}

.table td {
  border-bottom: 1px solid #eaeaea;
}
