*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url('../../fonts/TTLakes-Medium.ttf');
}

@font-face {
  font-family: 'TTLakes-Black';
  src: url('../../fonts/TTLakes-Black.ttf');
}

@font-face {
  font-family: 'TTLakes-Bold';
  src: url('../../fonts/TTLakes-Bold.ttf');
}

.body {
  min-height: 100vh;
  background-color: #f2f2f2;
  font-family: 'TTLakes-Medium';
}

.page {
  // border: 1px solid red;
}

.header {
  background: #fff;
  padding: 19px 0;
}

.header > .container {
  background-color: #fff;
}

.container {
  padding: 0 16px;
  background-color: #f8f8f8;
}

.buttons-group {
  display: flex;
  justify-content: space-between;
  background: #fff;

  & > :first-child,
  & > :last-child {
    display: flex;
    align-items: center;
  }

  &__item {
    // width: 40px;
    // height: 40px;
    // background-color: #ff3e79;
    // border-radius: 50%;
    // border: none;
    // background-position: center center;
    // transition: 0.2s ease;
  }

  &__item:not(:last-child) {
    margin-right: 16px;
  }

  // &__item:hover,
  // .services__button:hover &__item {
  //   background-color: darken(#ff3e79, 15%);
  //   cursor: pointer;
  // }
}

.button {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  border: none;
  background-position: center center;
  transition: 0.2s ease;
  cursor: pointer;
}

.button:not(:last-child) {
  margin-right: 16px;
}

.button :hover,
.services__button:hover .button {
  background-color: darken(#ff3e79, 15%);
  cursor: pointer;
}

.icon-phone {
  background: url('../../assets/icons/icon-phone.svg') no-repeat no-repeat center center;
  display: none;
}

.icon-burger {
  background: url('../../assets/icons/icon-burger.svg') no-repeat no-repeat center center #ff3e79;
}

.icon-message {
  background: url('../../assets/icons/icon-message.svg') no-repeat no-repeat center center #ff3e79;
  display: none;
}
.icon-profile {
  background: url('../../assets/icons/icon-profile.svg') no-repeat no-repeat center center #ff3e79;
  display: none;
}
.icon-settings {
  background: url('../../assets/icons/icon-settings.svg') no-repeat no-repeat center center #ff3e79;
}

.icon-search {
  background: url('../../assets/icons/icon-search.svg') no-repeat no-repeat center center #ff3e79;
}

.content {
  &__img {
    margin-left: -16px;
    width: 100vw;
  }
}

.services__navigation {
  display: none;
}

.navigation__link {
  color: #7e7e82;
  text-decoration: none;
}

.navigation__link:hover {
  color: darken($color: #7e7e82, $amount: 35%);
}

.link {
  text-decoration: none;
  font-size: 16px;
  color: #1b1c21;
  font-weight: 600;
}

.read-more {
  display: inline-block;
  margin: 16px 0;

  &__button {
    border: none;
    background: transparent;
  }

  &__button:hover {
    cursor: pointer;
  }

  &__button::before {
    content: '';
    display: inline-block;
    vertical-align: text-bottom;
    height: 100%;
    background: url('../../assets/icons/icon-read-more.svg') no-repeat no-repeat center center;
    transform: rotate(180deg);
    width: 24px;
    height: 24px;
    margin-right: 8px;
    position: relative;
    top: 4px;
  }
}

.logo::after {
  content: '';
  display: inline-block;
  vertical-align: super;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  // ? получается расстояние от бургера до разделителя 16 + 4 = 20 - плохая практика? (сложение горизонтальных марджинов)
  margin-left: 16px;
}

.title {
  font-family: 'TTLakes-Bold';
  font-size: 28px;
  color: #1b1c21;
  padding: 0 16px;
  padding-left: 0;
  padding-top: 24px;
}

.title::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #41f6d7;
  width: 8px;
  border-radius: 4px;
  height: 36px;
  left: 0;
  transform: translate(-4px);
}

.text {
  display: block;
  font-size: 14px;
}

.text:nth-child(even) {
  display: none;
}

.navigation__list {
  list-style: none;
  overflow-x: scroll;
  display: flex;
  margin: 24px 0;
  position: relative;
}

.navigation {
  &__item {
    color: #7e7e82;
    border: 2px solid transparent;
    font-size: 16px;
    display: inline-block;
    padding: 8px 16px;
    white-space: nowrap;
  }

  &__item--active {
    margin-right: 0;
    color: darken(#7e7e82, 15%);
    background-color: #fff;
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }

  &__item:hover {
    cursor: pointer;
    color: darken(#7e7e82, 15%);
  }
}

.navigation__list::-webkit-scrollbar {
  width: 0;
}

.navigation__list::after {
  display: block;
  content: '';
  background: linear-gradient(90deg, transparent, #f8f8f8);
  width: 80px;
  height: 40px;
  // left: -20px;
  position: fixed;
  right: 15px;
}

@media (min-width: 768px) {
  .buttons-group__item {
    background-color: #ff3e79;
  }

  .button {
    background-color: #ff3e79;
  }

  .icon-phone,
  .icon-message,
  .icon-profile {
    display: inline-block;
  }

  .buttons-group__item {
    display: inline-block;
  }

  .icon-settings {
    margin-left: 24px;
    display: inline-block;
  }

  .icon-settings::before {
    content: '';
    display: inline-block;
    vertical-align: super;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    margin-left: -80px;
    margin-top: 4px;
  }

  .container {
    padding: 0 24px;
  }

  .services {
    &__description {
      max-width: 100%;
    }
  }

  .logo::before {
    content: '';
    display: inline-block;
    vertical-align: super;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    margin-left: 4px;
    margin-right: 20px;
  }

  .logo::after {
    display: none;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    &__img {
      margin-left: 0;
      height: 208px;
      border-radius: 6px;
    }
  }

  .services {
    &__description {
      min-width: 312px;
      margin-right: 48px;
    }
  }

  .text:nth-child(even) {
    display: block;
    margin-top: 24px;
    display: block;
  }
}

@media (min-width: 1120px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
  }

  .header {
    display: none;
  }

  .icon-settings::before {
    display: none;
  }

  .icon-settings {
    margin-left: 0;
  }

  .services__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
  }

  .services__navigation {
    display: flex;
  }

  .services__button {
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 32px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-family: 'TTLakes-Medium';
  }

  .button-label {
    margin-right: 9px;
  }

  .navigation__list {
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  .navigation__list::after {
    display: none;
  }

  .content {
    &__img {
      height: 384px;
    }
  }

  .services {
    &__description {
      max-width: 490px;
    }

    &__title {
      margin-top: 0;
    }
  }
}
