*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url('../fonts/TTLakes-Medium.ttf');
}

@font-face {
  font-family: 'TTLakes-Black';
  src: url('../fonts/TTLakes-Black.ttf');
}

@font-face {
  font-family: 'TTLakes-Bold';
  src: url('../fonts/TTLakes-Bold.ttf');
}

body {
  min-height: 100vh;
  background-color: #f8f8f8;
  font-family: 'TTLakes-Medium';
}

.header {
  background: #fff;
  padding: 19px 0;
}
.container {
  padding: 0 16px;
}

.navigation {
  display: flex;
  justify-content: space-between;

  & > :first-child,
  & > :last-child {
    display: flex;
    align-items: center;
  }

  &__item {
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
    background-position: center center;
    transition: 0.2s ease;
  }

  &__item:not(:last-child) {
    margin-right: 16px;
  }

  &__item:hover {
    background-color: darken(#ff3e79, 15%);
    //  background-color: #fff;
  }

  &__vertical-divider {
  }
}

.icon-phone {
  background: url('../assets/icon-phone.svg') no-repeat no-repeat center center;
  display: none;
}

.icon-burger {
  background: url('../assets/icon-burger.svg') no-repeat no-repeat center center #ff3e79;
}

.icon-message {
  background: url('../assets/icon-message.svg') no-repeat no-repeat center center #ff3e79;
  display: none;
}
.icon-profile {
  background: url('../assets/icon-profile.svg') no-repeat no-repeat center center #ff3e79;
  display: none;
}
.icon-settings {
  background: url('../assets/icon-settings.svg') no-repeat no-repeat center center #ff3e79;
}

.icon-search {
  background: url('../assets/icon-search.svg') no-repeat no-repeat center center #ff3e79;
}

.content {
  &__img {
    max-width: 100%;
  }
}
.text {
  font-size: 14px;
}

.link {
  text-decoration: none;
  font-size: 16px;
  color: #1b1c21;
  font-weight: 600;
}
.read-more {
  display: inline-block;
  margin: 16px 0;

  &__link::before {
    content: '';
    display: inline-block;
    vertical-align: text-bottom;
    height: 100%;
    //  border: 1px solid red;
    background: url('../assets/icon-read-more.svg') no-repeat no-repeat center center;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.services {
  &__title {
    font-family: 'TTLakes-Bold';
    font-size: 28px;
    color: #1b1c21;
    margin-top: 24px;
    padding: 0 16px;
    position: relative;
  }

  &__title::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #41f6d7;
    width: 8px;
    border-radius: 4px;
    height: 100%;
    left: 0;
    transform: translate(-4px);
  }

  &__text {
    display: block;
  }

  &__text:nth-child(even) {
    display: none;
  }
}
.container {
}
.menu {
  list-style: none;
  overflow-x: scroll;
  display: flex;
  margin: 24px 0;

  &__item {
    color: #7e7e82;
    border: 2px solid transparent;
    font-size: 16px;
    display: inline-block;
    padding: 8px 16px;
    white-space: nowrap;
  }

  &__item--active {
    margin-right: 0;
    background-color: #fff;
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }

  &__link {
  }
}
.content {
  &__img {
  }
}
.text {
}
.link {
}
.read-more {
}

// [eeeeeeeeeeeeeeeeeeeeeeeeee

.menu {
  &__item {
  }

  &__item--active {
  }

  &__link {
  }
}

@media (min-width: 768px) {
  //   body {
  //     background: red;
  //   }
  .container {
    padding: 0 24px;
  }

  .services {
    &__title {
      padding: 0 24px;
    }
  }

  .logo {
    position: relative;
  }

  .logo::before {
    content: '';
    //  position: absolute;
    display: inline-block;
    vertical-align: super;
    //  top: 50%;
    //  transform: translate(0, -50%);
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    // ? получается расстояние от бургера до разделителя 16 + 4 = 20 - плохая практика? (сложение горизонтальных марджинов)
    margin-left: 4px;
    margin-right: 20px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    &__img {
      max-width: 360px;
      // height: auto;
      align-items: baseline;
    }
  }

  .services {
    &__description {
      width: 312px;
    }

    &__text:nth-child(even) {
      margin-top: 24px;
      display: block;
    }
  }
}

@media (min-width: 1120px) {
  //   body {
  //     background: green;
  //   }
}

// @media screen {
//   body {
//     width: 100px;
//   }
// }
