*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "TTLakes-Medium";
  src: url("../fonts/TTLakes-Medium.ttf");
}
@font-face {
  font-family: "TTLakes-Black";
  src: url("../fonts/TTLakes-Black.ttf");
}
@font-face {
  font-family: "TTLakes-Bold";
  src: url("../fonts/TTLakes-Bold.ttf");
}
body {
  min-height: 100vh;
  background-color: #f8f8f8;
  font-family: "TTLakes-Medium";
}

.header {
  background: #fff;
  padding: 19px 0;
}

.container {
  padding: 0 16px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation > :first-child, .navigation > :last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__item {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  background-position: center center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.navigation__item:not(:last-child) {
  margin-right: 16px;
}
.navigation__item:hover {
  background-color: #f1004a;
}
.icon-phone {
  background: url("../assets/icon-phone.svg") no-repeat no-repeat center center;
  display: none;
}

.icon-burger {
  background: url("../assets/icon-burger.svg") no-repeat no-repeat center center #ff3e79;
}

.icon-message {
  background: url("../assets/icon-message.svg") no-repeat no-repeat center center #ff3e79;
  display: none;
}

.icon-profile {
  background: url("../assets/icon-profile.svg") no-repeat no-repeat center center #ff3e79;
  display: none;
}

.icon-settings {
  background: url("../assets/icon-settings.svg") no-repeat no-repeat center center #ff3e79;
}

.icon-search {
  background: url("../assets/icon-search.svg") no-repeat no-repeat center center #ff3e79;
}

.content__img {
  max-width: 100%;
}

.text {
  font-size: 14px;
}

.link {
  text-decoration: none;
  font-size: 16px;
  color: #1b1c21;
  font-weight: 600;
}

.read-more {
  display: inline-block;
  margin: 16px 0;
}
.read-more__link::before {
  content: "";
  display: inline-block;
  vertical-align: text-bottom;
  height: 100%;
  background: url("../assets/icon-read-more.svg") no-repeat no-repeat center center;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.services__title {
  font-family: "TTLakes-Bold";
  font-size: 28px;
  color: #1b1c21;
  margin-top: 24px;
  padding: 0 16px;
  position: relative;
}
.services__title::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #41f6d7;
  width: 8px;
  border-radius: 4px;
  height: 100%;
  left: 0;
  -webkit-transform: translate(-4px);
          transform: translate(-4px);
}
.services__text {
  display: block;
}
.services__text:nth-child(even) {
  display: none;
}

.menu {
  list-style: none;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0;
}
.menu__item {
  color: #7e7e82;
  border: 2px solid transparent;
  font-size: 16px;
  display: inline-block;
  padding: 8px 16px;
  white-space: nowrap;
}
.menu__item--active {
  margin-right: 0;
  background-color: #fff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }

  .services__title {
    padding: 0 24px;
  }

  .logo {
    position: relative;
  }

  .logo::before {
    content: "";
    display: inline-block;
    vertical-align: super;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    margin-left: 4px;
    margin-right: 20px;
  }

  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content__img {
    max-width: 360px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .services__description {
    width: 312px;
  }
  .services__text:nth-child(even) {
    margin-top: 24px;
    display: block;
  }
}